<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div style="position: relative;overflow: hidden">
  <!--<div class="top-spots top-search-contain index0" data-target="map-wrap">-->
  <!--<div class="clearfix">-->
  <!--<h2><span>关注人群</span>迁移分布</h2>-->
  <!--</div>-->
  <!--</div>-->
  <div class="top-spots">
    <div class="clearfix">
      <h2><a href="##" class="active" data-button="swiper-button-prev">关注人群迁徙</a></h2>
      <span class="inline "></span>
      <h2 class=""><a href="##" data-button="swiper-button-next">敏感网站访问</a></h2>
    </div>
  </div>
  <!--<div class="top-button">-->
  <!--<a class="pull-left"> < </a>-->
  <!--<a class="pull-right active"> > </a>-->
  <!--</div>-->
  <div class="swiper-box" style="position: relative;">
    <div class="swiper-container swiper-container-horizontal">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-no-swiping">
          <div id="map-wrap" class="border-div map-wrap" style="width: 100%;"></div>
        </div>
        <div class="swiper-slide swiper-no-swiping">

          <div id="map-wrap2" class="border-div map-wrap" style="width: 100%;">
          </div>
        </div>
      </div>
      <div class="">
        <div class="swiper-button swiper-button-prev swiper-button-disabled"> <</div>
        <div class="swiper-button swiper-button-next "> ></div>
      </div>
    </div>
  </div>
</div>

<!--<script type="text/javascript" charset="utf-8" src="/assets/campus_security/ie9-classList.js"></script>-->
<script src="http://api.map.baidu.com/api?v=2.0&ak=0D518594d504c02b9271272ddca83c41"></script>
<script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
<!--<%= javascript_include_tag "echarts/echarts.js" %>-->

<script src="https://rawgit.com/ecomfe/echarts/master/dist/extension/bmap.js"></script>
<!--<%= javascript_include_tag "echarts/extension/bmap.js" %>-->
<!--<%= javascript_include_tag "swiper-3.4.1.jquery.min.js" %>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1./js/swiper.jquery.min.js"></script>

<script>
  $(document).on("click",".formatter-wrap li",function(){
    var $this = $(this),$inner = $this.parent().parent();
    if($inner.find("li").length>=5){
      $inner.css({
        transform:"translate(0px,150px)"
      })
    }

    $this.toggleClass("active");$this.siblings().removeClass("active");
  });
  var routes = <%=raw @trajectory_datas.to_json%>,
  geoCoord = <%=raw @ap_buildings.to_json%>,
  optionData2 = [],
    mapCenter = <%=raw Settings.baidu_map.school_center%>,
    points = [];
  ;

  //fromName,toName为非必要数据
  if (parseFloat(echarts.version) >= 3.2) {
    for (var k in geoCoord) {
      var pos = geoCoord[k][0],
        point = new BMap.Point(pos[0],pos[1]);
      points.push(point);
      var val = geoCoord[k].push(10)
      optionData2.push({
        name: k,
        value: geoCoord[k][0],
        access_sensitive_site_count: geoCoord[k][1],
        students: geoCoord[k][2]
      })
    }
  }
  //迁徙
  option = {
    tooltip: {
      trigger: 'item',
      triggerOn:'mousemove',
      enterable:true,
      // position: function (point, params, dom, rect, size) {
      //     // 固定在顶部
      //     return [point[0]-125, point[1]-17];

      // },
      position: function (xy, params, el, rect, view) {
        var rect;
        var map = echarts.getInstanceByDom(document.getElementById("map-wrap2")).getModel().getComponent('bmap').getBMap();
        var $ele = $(map.Va.firstChild.firstChild);
        var offsetLeft = parseInt($ele.css("left"))
        var offsetTop = parseInt($ele.css("top"))
        var x = xy[0], y = xy[1];
        return [x - offsetLeft-125, y - offsetTop-17];
      },
      alwaysShowContent:true,
      formatter: function (param) {
        var _html = '';
        var b=param.data.person_num>5?'bottom:'+(160+param.data.person_num*(-30))+'px':'top:0';
        var c=param.data.person_num*0.5+'s';
        _html += '<div class="move-wrap">' +
          '<h4><span>' +  param.data.fromName + '</span><b>到</b><span>'+param.data.toName +'</span></h4>' +
          '<hr>' +
          '<h5>迁徙人数：<span>' +  param.data.person_num + '</span>人</h5>' +
          '<div class="outer">' +
          '<div class="inner move" style="animation-duration: '+c+';-webkit-animation-duration:'+ c+'; '+b+'">';
        var info = param.data.person_info,
          len = info.length;
        for(var i=0;i<len;i++){
          _html += '<p>'+info[i].sname+'</p>';
        }
        _html += '</div></div><a href="#" class="map-float-window-close" style=""></a></div>';
        return _html;
      }
    },
    bmap: {
      center: mapCenter,
      zoom: 17,
      roam: true,
      enableMapClick: false,
      mapStyle: {styleJson: mapStyle}
    },
    series: [{
      type: 'lines',
      coordinateSystem: 'bmap',
      data: routes,
      effect: {// 运动轨迹效果
        show: true,
        period: 6,
        trailLength: 0.7,
        color: '#ffe329',
        symbolSize: 3
      },
      large: true,
      largeThreshold: 100,
      lineStyle: {
        normal: {
//              opacity: 0.8,
          width: 0,
          curveness: 0.3,//弯曲程度
          color: '#ffe329'
        }
      },
      // zlevel:2,
      // 设置混合模式为叠加
      blendMode: 'screen'

    },
      {
        type: 'lines',
        coordinateSystem: 'bmap',
        zlevel: 2,
        lineStyle: {
          normal: {
//                opacity: 0.8,
            width: 1,
            curveness: 0.3,//弯曲程度
            color: '#ffc529'
          }
        },
        data: routes
      }]

  };
  //敏感网站
  option2 = {
    tooltip: {
      trigger: 'item',
      enterable:true,
      //   formatter:"{b}"
      // },
      alwaysShowContent:true,
      position: function (xy, params, el, rect, view) {
        var rect;
        var map = echarts.getInstanceByDom(document.getElementById("map-wrap")).getModel().getComponent('bmap').getBMap();
        var $ele = $(map.Va.firstChild.firstChild);
        var offsetLeft = parseInt($ele.css("left"))
        var offsetTop = parseInt($ele.css("top"))
        var x = xy[0], y = xy[1];
        return [x - offsetLeft, y - offsetTop];
      },
      extraCssText:"width:206px;background:rgba(68, 78, 81, 0.89);",
      formatter: function (v) {
        var thisInfo = v.data;
        console.log(thisInfo);
        var count = thisInfo.students.length ,outterHeight = 193;
        var b=count>5?'bottom:'+(outterHeight+count*(-30))+'px':'top:0';
        var c=count*0.5+'s';
        var ul_s = '<div class="outer"><div class="inner move" style="animation-duration: '+c+';-webkit-animation-duration:'+ c+'; '+b+'"><ul>'
          ,ul_e="</ul></div></div>";
        $.each(thisInfo.students,function(i,v){
          var p="<p>"+v.name+ "</p>";
          // p+="<p>编号："+v.num+ "</p>";
          p+="<p>学号："+v.id+ "</p>";
          p+="<p>性别："+v.gender+ "</p>";
          p+="<p>宿舍号："+v.dorm+ "</p>";
          p+="<p>手机号："+v.mobi+ "</p>";
          ul_s+='<li class="clearfix">'  + p + '</li>';
        });
        ul_s += ul_e
        // return thisInfo.name;
        return '<div class="formatter-wrap"><h4>' + thisInfo.name + '</h4>' +
          '<a href="#" class="formatter-wrap-close" style="position: absolute;top: 10px;right: 10px;"></a>' +
          '<h5>访问敏感网站人数:<span>' + thisInfo.access_sensitive_site_count + '</span></h5>'+
          ul_s
          +'</div>'
      }
    },
    animation: false,
    bmap: {
      center: mapCenter,
      zoom: 17,
      roam: true,
      enableMapClick: false,
      mapStyle: {styleJson: mapStyle}
    },
    series: [{
      //type: 'effectScatter',//动画散点
      type: 'scatter',//静态散点
      coordinateSystem: 'bmap',
      zlevel: 2,
      // rippleEffect: {
      //   brushType: 'fill',//涟漪效果
      // },
      // symbol: 'image://http://www.easyicon.net/api/resizeApi.php?id=1182024&size=72',
      // symbol: 'image:///assets/campus_security/zuovbia.png',// 本地图标
      symbol: 'image://<%= asset_path("campus_security/zuovbia.png") %>',
      label: {
        normal: {
          show: true,
          position: 'inside',
          textStyle: {
            color: '#fb0100',
            fontSize: '12',
            fontWeight: '200',
          },
          offset: [-1, -7],
          // formatter: '{c}'
          formatter: function (parm) {
            return parm.data.access_sensitive_site_count
          }
        }
      },
      //          symbolSize: function (val) { //动态尺寸
      //            return val[2] / 8;
      //          },
      symbolSize: [25.5, 31.5],//固定尺寸
      // symbol:"",
      itemStyle: {
        normal: {
          color: '#e56c5f',
        }
      }
    }]

  };
  if(window.navigator.userAgent.indexOf('Firefox')!==-1){
    option2.series[0].label.normal.offset=[-1,-3];
  }


  option2.series[0].data = optionData2;
  var myChart;
  $(document).ready(function () { //切换
    $(".map-wrap").height($(window).height() - $(".navbar").height());
    var mySwiper = new Swiper('.swiper-container', {
      direction: 'horizontal',
//          direction: 'vertical',
      noSwiping : true,
      loop: false,
      initialSlide: 1,//默认页面
      // 如果需要前进后退按钮
      prevButton: '.swiper-button-next',
      nextButton: '.swiper-button-prev',
      virtualTranslate: false,
      //这里是反着写的，为了使散点图的tooltip生效，加载的option也对应的调换了
      onInit: function (swiper) {
        var myChart2 = echarts.init(document.getElementById('map-wrap2'));
        myChart2.setOption(option)
      },
      onSlideChangeEnd: function (swiper) {
        if (swiper.activeIndex == 1 && !myChart) {
          myChart = echarts.init(document.getElementById('map-wrap'));
          var line = new BMap.Polygon(points, {strokeColor:"blue", strokeWeight:3, strokeOpacity:0.5,fillOpacity:"0"}); //fillOpacity Number is wrong;

          var center = line.getBounds().getCenter();
          if(center!=null)
            option2.bmap.center = [center.lng,center.lat];
          myChart.setOption(option2);
          // myChart.setOption(newOption);  //临时隐藏
          // elements = getElements(coordinateSystem,geoCoord);
          // newOption = {
          //   graphic: {
          //     elements: elements
          //   }
          // };
          // var coordinateSystem = myChart.getModel().getComponent('bmap').coordinateSystem
          // var bmap = myChart.getModel().getComponent('bmap').getBMap();
          // var moving = function () {
          //   $.each(myChart._componentsViews, function (i, componentView) {

          //     var componentModel = componentView.__model;
          //     if (componentModel && componentModel.mainType === 'graphic') {
          //       var elements = getElements(coordinateSystem,geoCoord);//home.js
          //       componentModel.optionUpdated({
          //         elements: elements
          //       });
          //       componentView._relocate(componentModel, coordinateSystem._api);
          //     }
          //   });
          // }
          // bmap.addEventListener("moving", moving);
          // bmap.addEventListener("zoomend", moving);

        }

        var chartId ="";
        if(swiper.activeIndex ==1){
          chartId = "map-wrap";
        }else{
          chartId = "map-wrap2";
        }
        // reset to default option
        var chart = echarts.getInstanceByDom(document.getElementById(chartId));
        var option = chart.getOption()
        var center = new BMap.Point(option.bmap[0].center[0],option.bmap[0].center[1]);
        var com = chart.getModel().getComponent('bmap');
        // var bmap = chart.getModel().getComponent('bmap').getBMap(option.bmap[0].center,option.bmap[0].zoom);
        // com.setCenterAndZoom(center);
        com.ecModel.resetOption();
        chart.resize();


      }
    });
  });
  $(document).on('click','.map-float-window-close',function(e){
    e.preventDefault();
    // var echart2 = echarts.getInstanceByDom(document.getElementById('map-wrap2'));
    // echart2.dispatchAction({
    //    type: 'hidetip'
    // });
    $(e.target).closest('.move-wrap').parent().hide();
    return false;
  }).on("click",".formatter-wrap-close",function(e){
    $(e.target).parent().parent().hide();
    return false;
  })

  $('.swiper-button').on('click', function () {
    var $this = $(this);
    if ($this.hasClass('swiper-button-disabled'))return;

    $('.top-spots').find('a').toggleClass('active');

  });
  $('.top-spots').find('a').on('click',function (e) {
    e.preventDefault();
    var $this=$(this);
    if($this.hasClass('active'))return;
    var button=$this.data('button');
    $('.swiper-box').find('.swiper-button').each(function () {
      if($(this).hasClass(button)){
        $(this).trigger('click');
        return false;
      }
    })
  })

  $('#map-wrap2,#map-wrap')
    .on('mouseenter','.outer',function () {
      $(this).find('.inner').removeClass('move');
    }).on('mouseenter','.outer',function () {


    $(this).find('.inner').addClass('move pause');
  }).on('mouseleave','.outer',function () {
    $(this).find('.inner').removeClass('pause');
  }).on('mouseleave','.outer',function () {
    var $this =  $(this),$inner = $this.find('.inner');
    $inner.addClass('move');
    if($this.parent().hasClass("formatter-wrap")){
      $inner.css({
        transform:"translate(0px,0px)"
      })
      $this.find("li").removeClass("active");
    }
  })


</script>



</body>
</html>